@model Razor.Models.Product

@{
    ViewBag.Title = "DemoExpressions";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>Property Value</h2>

Name: @Model.Name <br />
Price: @Model.Price <br />
stock level: @ViewBag.Count

<div data-discount="@ViewBag.ApplyDiscount" data-express="@ViewBag.ExpressShip" data-Supplier="@ViewBag.Supplier">
    Element with data attributes
</div>

Discount: <input type="checkbox" checked="@ViewBag.ApplyDiscount">
Express: <input type="checkbox" checked="@ViewBag.ExpressShip">
Supplier: <input type="checkbox" checked="@ViewBag.Supplier">
